@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

html:root {
  --font-family: "Rajdhani", sans-serif;
}

html:root {
  --text-xs: 13px;
}

html:root {
  --gray_700: rgba(56, 56, 56, 0.5);
  --red_700: #eb5757;
  --green_700: rgb(68, 177, 68);
}

html:root {
  --bold: 700;
}
